wheel
more-itertools
pluggy
regex
requests
tqdm
nltk
gensim
matplotlib
seaborn
wordcloud
streamlit
spacy
pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
